/.*
!.gitignore
!.editorconfig


/wordpress/**/index.php
/wordpress/wp-admin/*
/wordpress/wp-content/*
/wordpress/wp-includes/*
!/wordpress/*/.gitkeep
/wordpress/*.txt
/wordpress/*.html


/wordpress-sagetheme/**/index.php
/wordpress-sagetheme/wp-admin
/wordpress-sagetheme/wp-content/plugins
/wordpress-sagetheme/wp-content/themes/t*
/wordpress-sagetheme/wp-content/themes/sage/*
!/wordpress-sagetheme/wp-content/themes/sage/.gitkeep
/wordpress-sagetheme/wp-includes
/wordpress-sagetheme/*.txt
/wordpress-sagetheme/*.html

